/*Header Styles*/

h1 {
    text-align: center;
    border: 5px solid black;
    margin: 15px;
}

h2 {
    text-align: center;
}

/*Navigation Styles*/

nav {
    display: flex;
    flex-direction: column; 
    text-align:center;
    font-size: 5vw;
    margin: 30px;
    padding: 0px;
    overflow: hidden;
    color: black;
    border: 5px solid black;
    font-weight: bold;
}

a:hover {
    background-color: gray;
}

@media (min-width: 720px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
}
